<app-header title="DateTime"></app-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>
      <ion-label>Datos de nacimiento</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Fecha de nacimiento</ion-label>
      <ion-datetime display-format="DD/MM/YYYY" 
                    placeholder="Nacimiento"
                    cancelText="Cancelar"
                    [ngModel]="fechaNac.toISOString()"
                    (ionChange)="cambioFecha($event)"
                    >
    </ion-datetime>
    </ion-item>
    <ion-list-header>
      <ion-label>Restricciones</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Min y Max</ion-label>
      <ion-datetime placeholder="yyyy-mm-dd" min="2018-01-01" max="2018-12-31" display-format="DD/MM/YYYY"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Años</ion-label>
      <ion-datetime placeholder="YYYY" min="2015" max="2030" display-format="YYYY" value="2020"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label>Fecha</ion-label>
        <ion-datetime [pickerOptions]="customPickerOptions" displayFormat="DD/MM/YYYY"></ion-datetime>
    </ion-item>
  </ion-list>
</ion-content>
