<app-header title="Grid - Rows"></app-header>

<ion-content fullscreen>
  <ion-grid fixed>
    <!--<ion-row>
      <ion-col *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]; let i = index">{{i+1}}</ion-col>
    </ion-row>-->

    <ion-row>
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" 
              *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]">
        <ion-card>
          <ion-img src="/assets/shapes.svg"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>Subtitle</ion-card-subtitle>
            <ion-card-title>Title</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, ipsum quisquam tempore amet saepe quia at provident hic adipisci id, error inventore dolores voluptas ut laborum velit. Iste, ea perspiciatis!
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
