<app-header title="Card"></app-header>

<ion-content padding>
    <ion-card color="primary">
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content> 
      </ion-card>
      <ion-card>
        <ion-item color="success">
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>Marcador</ion-label>
        </ion-item>
        <ion-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ducimus eveniet voluptas possimus ea quos aspernatur sint laboriosam architecto, quas quod similique nostrum et voluptate molestias! Aut iure corporis necessitatibus!
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-img src="/assets/shapes.svg"></ion-img>
        <ion-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad ab inventore cumque incidunt temporibus culpa mollitia delectus, qui a dicta sed recusandae facere laudantium nobis excepturi libero consectetur eaque numquam.
        </ion-card-content>
      </ion-card>
</ion-content>
